.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
tsconfig.json
.github/**
.eslintrc.json
.eslintignore
.npm/**
package-lock.json

# Ensure we don't exclude icon files
!icon/**
!icon.png